.model-catalog-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    min-width: 1600px;

}

.model-catalog-header {
    display: flex;
    flex-direction: row;

}

.model-catalog-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 4px;
    margin-left: auto;
    margin-right: auto;

}

// .model-catalog-filter-title {
//     font-size: 14px;
//     color: var(--tcw-blue-color);
// }

.model-catalog-entry-counts {
    font-size: 13px;
    align-self: flex-start;
    width: 130px; //Keeps the filter input form shifting around
    margin-top: 8px;
    margin-right: 8px;
    margin-left: -16px; //Pulling the filter input more to the center
    text-align: right;
}



.model-catalog-refresh-button {
    display: flex;
    // width: 24px !important;
    // height: 24px !important;
    // padding: 0;
    // margin-top: 4px;
    // margin-right: 8px;
    // color: var(--hover-blue-color_dark);

    // &:hover:enabled {
    //     color: var(--tcw-blue-color);
    // }

    // &:disabled {
    //     opacity: 50%;
    //     cursor: default;
    // }

    .model-catalog-refresh-button-icon {
        width: 20px !important;
        height: 20px !important;
    }
}

.model-catalog-filter-user-owned {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
    // font-size: 14px;
    // color: var(--tcw-blue-color);
    cursor: pointer;

    label,
    input {
        cursor: pointer;
    }

    &:hover:enabled {
        color: var(--tcw-blue-color);
    }

    &[aria-disabled="true"] {
        opacity: 50%;
        cursor: default;

        label,
        input {
            cursor: default;
        }
    }



}

.model-catalog-settings-button {
    display: flex;
    // width: 24px !important;
    // height: 24px !important;
    // padding: 0;

    // margin-left: 8px;
    // color: var(--hover-blue-color_dark);

    &[aria-hidden="true"] {
        visibility: hidden;
    }

    // &:hover:enabled {
    //     color: var(--tcw-blue-color);
    // }

    // &:disabled {
    //     opacity: 50%;
    //     cursor: default;
    // }

    .model-catalog-settings-icon {
        width: 20px !important;
        height: 20px !important;
    }
}