.model-catalog-entry-editor {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px;
    gap: 4px;


    .model-catalog-entry-copying {
        display: flex;
        flex: 0;
        max-width: fit-content;
        background-color: var(--light-gray-color);
        border: 1px solid var(--tcw-gray-color);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        padding: 2px;
        color: var(--dark-blue-color);
    }

    .model-catalog-editor-field-group {
        display: flex;
        flex-direction: row;
        width: 100%;

    }

    .model-catalog-editor-field {
        display: flex;
        flex-direction: column;
        margin-right: 16px;
        flex: 1;
        gap: 2px;

        >input {
            width: 100%;

            &.long {
                width: 100%;
            }
        }

        &[aria-label='name'] {
            width: 100%;
        }

        &[aria-label='state'] {
            max-width: 150px;
        }

        &[aria-label='cat'] {
            width: 100%;
        }

        &[aria-label='owner'] {
            max-width: 250px;
        }

        &[aria-label='permissions'] {
            max-width: 230px;

            .select-button {
                width: 225px;
                justify-items: flex-end;
            }
        }

        &[aria-label='url'] {
            width: 100%;
        }

        &[aria-label='notes'] {
            width: 100%;
        }

    }

    .model-catalog-editor-field-title {
        font-size: 14px;
        color: var(--tcw-blue-color);
    }

    .model-catalog-editor-name-invalid {
        font-size: 13px;
        font-weight: bold;
        color: rgb(189, 78, 78);
        padding-left: 8px;
        display: none;

        &[aria-hidden='false'] {
            display: inline;
        }
    }

    .model-catalog-edit-actions {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        padding: 8px;
        gap: 8px;
    }

    .model-catalog-edit-action-button {
        width: 100px;
        height: 35px;
        background-color: var(--button-color);
        border-radius: 6px;
        color: var(--on-button-color);
        box-shadow: var(--button-shadow);

        &:hover {
            background-color: var(--button-color_hover);
            box-shadow: 0 0 0;
        }
    }

    .model-catalog-edit-input {
        border: 1px solid black;
        outline: none;
        border-radius: 3px;
        padding: 2px;

        &:focus-within {
            border: 1px solid var(--hover-blue-color);
        }
    }
}

.model-catalog-busy-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -8px;
    margin-left: -8px;
    width: 100%;
    height: calc(100% + 16px);
    background-color: rgba(51, 51, 51, 0.75);
    border-radius: 3px;
    z-index: 10;
    color: var(--tcw-blue-color);
    align-items: center;
    justify-content: center;
    gap: 32px;

    .model-catalog-busy-text {
        width: 100%;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }

    .model-catalog-busy-progress {
        position: relative;

        &>#background-progress {
            opacity: .2;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        &>#foreground-progress {
            z-index: 2;
        }
    }

    .MuiCircularProgress-root {
        width: 64px !important;
        height: 64px !important;
    }

    .MuiCircularProgress-circle {
        color: var(--primary_light);

    }


}