.model-catalog-grid-row-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    background-color: var(--light-gray-color);
    border: 1px solid var(--tcw-gray-color);
    border-radius: 3px;

    .model-catalog-entry-name-button {
        display: flex;
        flex-direction: row;
        font-weight: bold;
        font-size: 16px;
        color: var(--dark-blue-color);
        align-items: center;
        gap: 8px;
        border-radius: 3px;
        padding: 2px;

        &:disabled {
            cursor: default;
        }
    }

    .model-catalog-entry-name-icon {
        visibility: hidden;
        width: 16px !important;
        height: 16px !important;
    }

    &:hover {
        background-color: var(--highlight-blue-color_light);

        .model-catalog-grid-row-col[aria-label='mod'],
        .model-catalog-grid-row-col[aria-label='sync'][aria-hidden='false']  {
            visibility: visible;        
        }

        .model-catalog-entry-name-button:enabled {
            color: var(--on-button-color);
            background-color: var(--button-color);
            box-shadow: var(--button-shadow);
            padding-left: 4px;
            .model-catalog-entry-name-icon {
                visibility: visible;
            }

            &:hover {
                background-color: var(--button-color_hover);
                box-shadow: 0 0 0;
            }
        }
    }
}

.model-catalog-grid-row-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100%;

    &[aria-label='mod'] {
        visibility: hidden;
        min-width: 45px;
        max-width: 45px;
        align-items: flex-start;
        justify-content: center;
    }

    &[aria-label='sync'] {
        visibility: hidden;
        min-width: 55px;
        max-width: 55px;
        align-items: flex-start;
        justify-content: center;
        gap: 8px;
    }

    &[aria-label='entry'] {
        flex: 1;
    }

}

.model-catalog-entry-details-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.model-catalog-entry-name-state {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
    height: 50px;
    padding: 4px;
    margin: 2px;
    border-radius: 3px;
    width: 500px;
    background-color: var(--tcw-gray-color);
}

.model-catalog-entry-details-col {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    width: 500px;
    height: 100%;
    margin-left: 8px;
    margin-right: 8px;
}

.model-catalog-entry-details-row {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
}

.model-catalog-entry-state {
    font-weight: normal;
    font-size: 14px;

    &[aria-level="0"] {
        color: rgb(199, 129, 0);
    }

    &[aria-level="1"] {
        color: rgb(0, 117, 226);
    }

    &[aria-level="2"] {
        color: rgb(105, 105, 105);
    }

    &[aria-level="3"] {
        color: green;
    }
}

.model-catalog-entry-with-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
    max-width: 100%;

    >span:first-child {
        font-weight: bold;
        font-size: 13px;
        color: var(--light-blue-color);
        padding-right: 2px;
    }
}

.model-catalog-entry-api {
    >a {

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.model-catalog-entry-categorization {
    display: flex;
    flex: 1;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    height: 35px;
}

.model-catalog-entry-owner {
    display: flex;
    width: 250px;
    text-align: left;
    margin-left: 16px;
    align-self: flex-start;
}

.model-catalog-entry-permissions {
    text-align: left;
    align-self: flex-start;
    height: 100%;
    width: 300px;
}

.model-catalog-entry-notes {
    display: flex;
    flex: 1;
}

.model-catalog-entry-action-icon {
    width: 24px !important;
    height: 24px !important;

    &[aria-label='small-arrow-left'] {
        width: 16px !important;
        height: 16px !important;
        margin-right: -3px;
    }

    &[aria-label='small-arrow-right'] {
        width: 16px !important;
        height: 16px !important;
        margin-left: -3px;
    }
}


.model-catalog-entry-action-button {
    display: flex;
    flex-direction: row;
    align-items: center;

    &:hover>.model-catalog-entry-action-icon {
        color: var(--tcw-blue-color);
    }

    &[aria-hidden="true"] {
        visibility: hidden;
    }
}

.model-catalog-entry-action-icon {
    color: var(--hover-blue-color_dark);
}

.model-catalog-entry-last-updated {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-weight: normal;
    align-self: flex-end;
    color: var(--light-blue-color);
    margin: 2px;
    margin-right: 4px;
}

.model-catalog-edit-new-row {
    display: flex;
    flex-direction: row;
    width: 100%;

    align-content: center;
    background-color: var(--light-gray-color);
    border: 1px solid var(--tcw-gray-color);
    border-radius: 3px;
}

.model-catalog-add-entry-button {
    display: flex;
    flex-direction: row;

    align-items: center;
    color: var(--on-button-color);
    background-color: var(--button-color);
    border-radius: 6px;
    padding: 8px;
    margin: 8px;
    box-shadow: var(--button-shadow);

    &:hover {
        background-color: var(--button-color_hover);
        box-shadow: 0 0 0;
    }

    &:disabled {
        background-color: var(--dark-gray-color);
        box-shadow: 0 0 0;
        cursor: default;
    }
}

.model-catalog-add-entry-icon {
    width: 20px !important;
    height: 20px !important;
}