# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

lib-cov
.grunt
bower_components
.lock-wscript
build/Release

# Dependencies
/node_modules
node_modules
jspm_packages/
/.pnp
.pnp.js

# Typescript cache
*.tsbuildinfo

.npm
.eslintcache
.stylelintcache

# Microbundle Cache
.rpts_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

*.tgz
.yarn-integrity
.cache
.parcel-cache
.turbo
.vscode/


# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
dist


package-lock.json
apps/platform-shell/dist/
apps/platform-shell/node_modules
apps/platform-shell/node_modules/*

packages/ui/dist/
packages/app-registry/dist/
build-sandbox
build-development
build-production
build-prod
packages/utils/dist/
build-dev
