
# QRE team
/apps/QRE @tcw-group/technology/platform-engineering/tcw-ai-platform
/packages/app-registry/src/researchAnalysisApps.ts @tcw-group/technology/platform-engineering/tcw-ai-platform


# Platform Engineering
* @tcw-group/technology/platform-engineering