.tcw-card-container{
    border-radius: 10px;
}

.tcw-card-content{
    padding-left: 15px;
    padding-right: 15px;
}

.tcw-card-header{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    height: 50px;
}

.tcw-card-image{
    width: 30px;
    height: 30px;
}
