.tcw-card-container{
    border-radius: 10px;
    padding: 10px;
}

.tcw-card-content{
    padding: 10px!important;
}

.tcw-card-header{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
    padding: 10px!important;
}

.tcw-card-image{
    width: 30px;
    height: 30px;
}
