.tcw-card-container{
    width: 850px;
    height: 300px;
    border-radius: 10px;
}

.tcw-card-header{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    align-items: center;
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
}

.tcw-card-image{
    width: 30px;
    height: 30px;
}

.tcw-card-content{
    height: 220px;
}