.mainContainer {
    text-align: left;
    border-radius: 18px;
    padding: 6px 14px;
    cursor: pointer;
    min-height: 136px;
    height: 176px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px solid var(--ant-color-border-secondary);

    &[data-selected='true'] {
        border: 1px solid var(--ant-color-primary-border);
        background: var(--ant-color-primary-bg) !important;
    }
}

.widgetDescription {
    margin-top: 4px;
    font-size: 12px;
    line-height: 16px;
    color: var(--ant-color-text-secondary);
    min-height: 32px;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.previewContainer {
    width: 400px;
    min-height: 110px;
    max-height: 160px;
    position: relative;
    pointer-events: none;
    overflow: hidden;
}
