.filter-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    /* Centers horizontally along the main axis */
    align-items: center;
    /* Centers vertically along the cross axis */
    background-color: white;
    width: 250px;
    max-height: 18px;
    padding: 1px;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid black;
    border-radius: 3px;

    // &:focus-within {
    //     outline: 1px solid var(--light-blue-color);
    // }

    &[aria-disabled="true"] {
        opacity: 50%;
    }
}

.filter-input {
    display: flex;
    flex: 1;
    // border: 0;
    // background-color: transparent;
    // outline: none;
    width: 100%;

    // color: black;


}

// .filter-clear-button {
//     height: 14px;
//     width: 14px;
//     padding: 0;
//     opacity: 75%;
//     color: black;
//     line-height: 14px;
//     outline: none;
//     font-size: 12px;

//     &:hover {
//         opacity: 100%;
//     }
// }