.select-button {
    padding: 0;
    border-radius: 3px;
    border: 1px solid black;
    background-color: white;
    height: var(--input-height);

    &:focus {
        border: 1px solid var(--light-blue-color);
    }

    &:disabled {
        border: 1px solid black;
        opacity: 50%;
    }
}

.select-button-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    padding: 0;
    padding-left: 6px;
    padding-right: 6px;
}

.select-icon {
    width: 16px !important;
    height: 16px !important;
}

.select-button {

    anchor-name: --my-anchor;
    color: var(--on_surface);

    &:hover:enabled {
        color: var(--primary_light);
    }



    &:disabled {
        cursor: default;
        opacity: 50%;
    }

}

.select-options[popover] {
    z-index: 1000;
    background-color: transparent;
    border: 0;
    inset: auto;
    margin: 0;
    margin-left: -12px;
    min-inline-size: anchor-size(self-inline);
    min-block-size: 1lh;
    /* Go to the edge of the viewport, and add scroll bars if needed. */
    max-block-size: stretch;
    overflow: auto;
    /* Below and span-right, by default. */
    position-area: block-end span-inline-end;

    // position-try-order: most-block-size;
    // position-try-fallbacks:
    //     /* First try above and span-right, */
    //     /* then below but span-left, */
    //     /* then above and span-left. */
    //     block-start span-inline-end,
    //     block-end span-inline-start,
    //     block-start span-inline-start;
}