.waiting-ellipses-container {
    position: relative;
    width: 100%;
    height:fit-content;


}

.waiting-wrapper {

    &[aria-level="0"] {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    &[aria-level="1"] {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

    }
}

.waiting-text {
    &[aria-level="1"] {
        display: inline-block;
        white-space: nowrap;
        position: relative;
    }
}

.waiting-ellipses {
    &[aria-level="1"] {
        position: absolute;
        left: 100%;
        top: 0;
        white-space: nowrap;
    }
}