 .footer-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--tcw-blue-color);
    // background-color: black;
    height: 65px;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    margin-left: 20px;
}

.footer-all-links-container {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    width: 100%;
}

.footer-center {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.footer-main-logo {
    height: 20px;
    padding-left: 30px;
    flex-grow: 0;
}

.footer-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    border-left: 1px solid white;
    padding: 0 20px;
}

.footer-bottom {
    padding: 12px;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.bottom-link {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 350;
    margin-top: 5px;
    padding-top: 4px;
    padding-left: 40px;
    padding-right: 40px;
    
    border-right: 0.5px solid var(--tcw-light-blue-color);
}

.bottom-link:last-child {
    border: 0;
}

.links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px 20px;
    // display: grid;
    // grid-template-columns: repeat(6, 1fr);
    // gap: 10px 20px;
    // flex-grow: 1;
    // padding-left: 75px;
    // // padding-bottom: 10px;
    // text-align: left;
    // border-left: 1px solid white;
    // border-right: 1px solid white;
}

.link-container:last-child {
    border-right: 0;
}

.links-header {
    // grid-column: span 3;
    // color: white;
    // font-size: 17px;
    // font-weight: bold;
    // padding-bottom: 8px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 8px;
}

.link-container {
    display: flex;
    flex-direction: row;
    border-right: 1px white solid;
    padding-right: 20px;
}

.footer-link {
    color: white !important;
    text-decoration: none;
    align-self: center;
    font-size: 13px;
    font: Lato;
}

.footer-action-arrow {
    width: 18px;
    height: 18px;
    align-self: center;
    padding-left: 4px;
    filter: invert(100%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(105%) contrast(100%);
}

