.container {
    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 0;
        font-size: 1em;
    }

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    cursor: pointer;
}
.cardTitle {
    color: var(--ant-color-text-secondary);
}
.activeTile {
    border-bottom: 2px solid var(--ant-color-primary);
}
.top {
    order: 0;
}
.bottom {
    order: 1;
    margin-top: auto !important;
}
.content {
    display: flex;
    align-items: flex-end;
    color: var(--ant-color-text);
}
.prefix {
    flex: 0;
}
.suffix {
    flex: 0;
}
.value {
    flex: 1;
    font-size: 1.5rem;
}
