.content {
    display: flex;
    flex-direction: column;
    gap: 12px;

    :global {
        .ant-collapse-header {
            background-color: var(--ant-color-fill-alter);
        }

        .ant-collapse-content {
            background-color: var(--ant-color-bg-container) !important;
        }
    }
}