.dashboard-container{
  padding: 10px 20px 10px 20px;
  background: #F9F9F9;
  min-height: calc(100vh - 70px);
  line-height: 1;
}

.dashboard-time {
    padding-bottom: 15px;
    color: var(--tcw-blue-color);
    padding-top: 10px;
}

.link-action-arrow {
    width: 14px;
    height: 14px;
    align-self: center;
    filter: invert(15%) sepia(93%) saturate(2037%) hue-rotate(196deg) brightness(95%) contrast(103%);
}

.quick-view-link {
    color: var(--tcw-blue-color);
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    align-self: center;
    text-align: left;
}

.quick-view-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.quick-view-card-insert {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tcw-gray-color);
    border-radius: 3px;
    background-color: var(--light-gray-color);
    padding: 16px;
    padding-bottom: 0;
    align-items: flex-start;
    min-height: 100px;
}

.quick-view-insert-title-container {
    display: flex;
    flex-direction: row;
    padding: 2px;
    padding-bottom: 20px;
}

.quick-view-insert-icon {
    width: 16px;
    height: 16px;
    align-self: center;
    filter: brightness(0) saturate(100%);
}

.quick-view-insert-title {
    font-size: 17px;
    font-weight: bold;
    color: black;
    text-align: left;
    padding-left: 8px;
}

.quick-view-link-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 12px;
}

.quick-view-link {
    color: var(--tcw-blue-color);
    text-decoration: none;
    font-size: 13px;
    font-weight: normal;
    align-self: center;
    text-align: left;
}

.quick-view-link:disabled {
    color: var(--tcw-gray-color);
    cursor: default;
}

.quick-view-announcement-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid var(--tcw-gray-color);
    padding-bottom: 8px;
    margin-bottom: 16px;
    align-self: stretch;
}

.quick-view-announcement-container:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}

.quick-view-announcement-title {
    display: flex;
    flex-direction: row;

    font-weight: 500;
    margin-bottom: 3px;
    align-self: stretch;
}

.quick-view-announcement-time {
    color: #5caac6;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    align-self: flex-start;
    text-align: left;
    margin: auto;
}

[aria-disabled='true'] {
    color: var(--dark-gray-color);
    font-size: 12px;
}

.quick-view-announcement {
    color: black;
    font-size: 14px;
    font-weight: normal;
    align-self: flex-start;
    text-align: left;
    text-wrap: balance;
    padding-bottom: 8px;
}

.status-insert-container {
    padding-bottom: 16px;
    width: 100%;
}

.status-insert-header {
    display: flex;
    flex-direction: row;
    padding: 3px;
    justify-content: center;
    border: 1px solid #69a9dd;
    border-radius: 3px;
    background-color: #a4c6e2;
}

.status-normal {
    //filter: brightness(0) saturate(100%) invert(38%) sepia(78%) saturate(351%) hue-rotate(111deg) brightness(92%) contrast(93%);
    border: 1px solid #247f63;
    border-radius: 3px;
    background-color: #a6ebd6;
}

.status-abnormal {
    border: 1px solid #b34242;
    border-radius: 3px;
    background-color: #f3c3c3;
}

.status-insert-title {
    font-size: 14px;
    padding-left: 6px;
}

.status-insert-entry-popover {
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.service-infra-header,
.service-desk-header,
.service-cab-header {
    display: flex;
    flex-direction: row;
    background-color: var(--tcw-blue-color);
    color: white;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 3px;
    gap: 6px;
}

.status-infra-row,
.status-desk-row,
.status-cab-row {
    display: flex;
    flex-direction: row;
    gap: 6px;
    padding: 3px;
    border-bottom: 1px solid var(--tcw-gray-color);
    font-size: 12px;
    align-content: center;
}

.status-infra-row:last-child,
.status-desk-row:last-child,
.status-cab-row:last-child {
    border-bottom: 0;
}

.infra-header-name,
.infra-field-service-name {
    width: 300px;
}

.infra-header-status,
.infra-field-status-normal,
.infra-field-status-abnormal {
    width: 120px;
}

.infra-header-priority,
.infra-field-priority {
    width: 250px;
}

.infra-header-comments,
.infra-field-comments {
    width: 100%;
}

.infra-field-status-normal {
    color: #247f63;
    font-weight: bold;
}

.infra-field-status-abnormal {
    color: #b34242;
    font-weight: bold;
}

.desk-header-name,
.desk-field-name {
    width: 200px;
}
.desk-header-dashboard,
.desk-field-dashboard {
    width: 120px;
}
.desk-header-trading,
.desk-field-trading {
    width: 120px;
}
.desk-header-pfconstruction,
.desk-field-pfconstruction {
    width: 120px;
}
.desk-header-pfexploration,
.desk-field-pfexploration {
    width: 120px;
}
.desk-header-pfmanagement,
.desk-field-pfmanagement {
    width: 120px;
}
.desk-header-description,
.desk-field-description {
    width: 100%;
}

.desk-status-mark {
    width: 16px;
    height: 16px;
    align-self: flex-start;
}

.status-mark-normal {
    filter: brightness(0) saturate(100%) invert(37%) sepia(96%) saturate(304%) hue-rotate(111deg)
        brightness(90%) contrast(90%);
}

.status-mark-abnormal {
    filter: brightness(0) saturate(100%) invert(37%) sepia(35%) saturate(993%) hue-rotate(314deg)
        brightness(91%) contrast(98%);
}

.cab-header-app,
.cab-field-app {
    width: 200px;
}
.cab-header-desc,
.cab-field-desc {
    width: 50%;
}
.cab-header-type,
.cab-field-type {
    width: 160px;
}
.cab-header-releasedt,
.cab-field-releasedt {
    width: 160px;
}
.cab-header-title,
.cab-field-title {
    width: 50%;
}
.cab-header-comments,
.cab-field-comments {
    width: 50%;
}
.cab-header-approval,
.cab-field-approval {
    width: 160px;
}

.quick-view-card-title {
    vertical-align: middle;
}

.banner {
font-family: 'ABC-MonumentGrotesk-Regular';
background: linear-gradient(to right, #23425C, #A3C0C7,#23425C );
display: flex;
align-items: center;
justify-content: flex-start;
height: 110px;
}

.text-container {
text-align: left;
max-width: 800px;
line-height: 0.3;
padding: 20px;
}

.title {
font-size: 2.5em;
color: #ffffff;
}

.subtitle {
font-size: 1em;
color: #ffffff;
}