.popup-inner-header {
    display: flex;
    flex-direction: row;
    white-space: pre;

    span {
        color: var(--tcw-blue-color);
    }

    div {
        margin-right: 16px;
    }

}

.model-catalog-delete-dialog-icon {
    width: 40px !important;
    height: 40px !important;
    color: rgb(209, 59, 59);
    margin-left: auto;
}

.model-catalog-sync-dialog-icon {
    width: 40px !important;
    height: 40px !important;
    color: var(--tcw-blue-color);


    &:last-child {
        margin-left: auto;
        color: rgb(209, 157, 59);
    }
}

.accept-dialog-busy-container {
    border-radius: 6px;
}