.model-catalog-sync-dialog-icon-group {
    display: flex;
    flex-direction: row;
}

.model-catalog-sync-dialog-icon {
    width: 40px !important;
    height: 40px !important;
    color: var(--tcw-blue-color);
}