.mod-cat-settings-dialog {
    .MuiDialog-scrollPaper {
        overflow: hidden;

        .MuiDialog-paperScrollPaper {
            overflow: hidden;
            width: 75%;
            max-width: 85%;
            border-radius: 8px;
            height: 100%;

        }
    }

    .MuiButtonBase-root {
        text-transform: none;
    }
}

.mod-cat-settings-dialog-header {
    box-sizing: border-box;
    padding-left: 16px;
    font-size: 20px;
    font-family: Lato;

}

.mod-cat-settings-dialog-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: calc(100% - 64px);
    max-height: calc(100% - 64px);

    gap: 16px;
    padding: 16px;
}

.mod-cat-settings-container {
    background-color: white;
    height: 100%;
    padding-bottom: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}

.mod-cat-settings-busy-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.75);
    z-index: 10;
    color: var(--on_background);
    align-items: center;
    justify-content: center;
    gap: 32px;

    #background-progress.MuiCircularProgress-root,
    #foreground-progress.MuiCircularProgress-root {
        width: 64px !important;
        height: 64px !important;
    }

    #background-progress.MuiCircularProgress-circle,
    #foreground-progress.MuiCircularProgress-circle {
        color: var(--primary_light);

    }
}

.mod-cat-settings-busy-title {
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: -16px;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.mod-cat-settings-busy-text {
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.waiting-text {
    color: var(--on_surface);
}

.mod-cat-settings-buttons {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: flex-end;
    // margin-right: 24px;
    margin-top: auto;
}

// .mod-cat-settings-button {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 65px;
//     height: 35px;
//     // background-color: var(--button-color) !important;
//     border-radius: 6px;
//     // color: var(--on-button-color) !important;
//     box-shadow: var(--button-shadow) !important;

//     &:hover:enabled {
//         // background-color: var(--button-color_hover) !important;
//         box-shadow: 0 0 0 !important;
//     }

//     &:disabled {
//         // background-color: var(--light-gray-color) !important;
//         // color: var(--dark-gray-color) !important;
//         box-shadow: 0 0 0 !important;
//     }
// }

.mod-cat-settings-busy-progress {
    position: relative;

    &>#background-progress {
        opacity: .2;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &>#foreground-progress {
        z-index: 2;
    }
}

.cat-settings-list {
    box-sizing: border-box;
    height: calc(100% - 54px);
    padding: 8px;
    background-color: transparent;

    &.kind {
        overflow-y: auto;
    }

    &.purpose {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-width: 100%;
        overflow: none;
    }

    .cat-settings-list-item-add-button {
        margin-left: 48px;
        color: var(--light-blue-color);
        margin-top: -4px;
        margin-bottom: -4px;
        min-width: 0;
        width: fit-content;
        padding: 2px;

        .cat-settings-list-add-icon {
            margin-right: 8px;
        }

        &.purpose {
            visibility: hidden;
        }

        &:disabled {
            cursor: default;
        }

        &:hover:enabled {
            color: var(--tcw-blue-color);
        }
    }



    .cat-settings-list-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: transparent;
        padding-top: 2px;
        padding-bottom: 2px;

        &:hover, &:focus-within {

            .cat-settings-list-item-add-button {
                &.purpose {
                    visibility: visible;
                }
            }
        }

        .cat-settings-list-item-container {
            display: flex;
            flex-direction: row;
            min-width: 95%;

            .cat-settings-list-item-delete-button {
                visibility: hidden;
                color: var(--light-blue-color);
                padding: 0;
                min-width: 0;

                &:disabled {
                    cursor: default;
                    color: var(--light-gray-color_dark);
                }

                &:hover:enabled {
                    .cat-settings-list-item-delete-icon {
                        color: var(--tcw-blue-color);
                    }
                }
            }

            .cat-settings-list-item-text {

                &.purpose {
                    flex-grow: 1;
                }

                &.kind {
                    flex-grow: .5;

                }
            }

            .cat-settings-list-item-delete-icon {
                width: 24px !important;
                height: 24px !important;
            }

            &:hover, &:focus-within {
                .cat-settings-list-item-delete-button {
                    visibility: visible;
                }
            }
        }


    }

    .MuiOutlinedInput-root {
        padding: 4px;
    }

    .MuiInputBase-inputMultiline {
        line-height: 1;
    }

    .MuiInputBase-input {
        font-size: 12px;
        font-family: Lato;
        padding: 0;
        padding-left: 4px;
        padding-right: 4px;

    }

}

// .model-categorizations-kind-list {
//     box-sizing: border-box;
//     height: calc(100% - 54px);
//     padding: 8px;
//     overflow-y: auto;



//     .model-categorizations-kind-list-item {
//         display: flex;
//         flex-direction: column;
//         align-items: flex-start;
//         min-width: 300px;

//         .model-categorizations-list-item-text-container {
//             display: flex;
//             flex-direction: row;
//             width: 100%;

//             .model-categorization-list-item-warning {
//                 width: 500px;

//                 .MuiInputBase-input {
//                     user-select: none;
//                     color: rgb(179, 77, 77);
//                 }

//                 .Mui-disabled {
//                     -webkit-text-fill-color: rgb(179, 77, 77);
//                 }

//                 .MuiInput-underline::before,
//                 .MuiInput-underline::after {
//                     border: 0;

//                 }

//             }
//         }
//     }

//     .model-categorizations-purpose-list {
//         min-width: 75%;

//         .model-categorizations-purpose-list-item {
//             display: flex;
//             flex-direction: row;

//             min-width: 400px;
//         }

//         .model-categorizations-purpose-text {
//             min-width: 100%;
//         }

//         .model-categorizations-purpose-list-item-bullet {
//             width: 8px !important;
//             height: 8px !important;
//             color: var(--tcw-blue-color);
//             margin-right: 8px;
//         }
//     }

//     .model-categorizations-kind-text {
//         min-width: 250px;
//     }

//     .MuiListItem-root {
//         padding-top: 4px;
//         padding-bottom: 4px;
//     }

//     .MuiOutlinedInput-root {
//         padding: 4px;
//     }

//     .MuiInputBase-inputMultiline {
//         line-height: 1;
//     }

//     .MuiInputBase-input {
//         font-size: 12px;
//         font-family: Lato;
//         padding: 4px;

//     }


// }