.cat-settings-action-kind {
    visibility: hidden;
}

.cat-settings-action-purpose {
    visibility: hidden;
}


.cat-settings-item-kind {
    &:hover {
        .cat-settings-action-kind {
            visibility: visible;
        }
    }
}

.cat-settings-item-purpose {
    &:hover {
        .cat-settings-action-purpose {
            visibility: visible;
        }
    }
}