:root {
    --tcw-blue-color: #003e7e;
    --tcw-gray-color: #d9d9d9;
    --tcw-light-blue-color: #7b9abb;
    --tcw-hover-blue-color: #91c3dd;
    --tcw-dark-blue-color: #003265;
    --tcw-highlight-blue-color: #cfdbe7;
    --tcw-light-gray-color: #f6f7f7;
    --tcw-dark-gray-color: #7e7f82;
    background-color: var(--tcw-gray-color);
    --secondary-tcw-teal-color: #00B0AD;
}

body {
    margin: 0;
    font-family: Lato !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f0f2f5;
    color: #333;
}



.platform-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: blue;
}

.content-area {
    flex-grow: 1;
    // background-color: black;
    /* padding: 20px; */
    /* max-height: 845px; */
}

/* button {
    background-color: green;
    color: white;
} */

.App {
    text-align: center;
    font-family: 'Lato' !important;
    background-color: var(--light-gray-color);
    height: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

button {
  background: none;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit; 
}

.popup-overlay-hidden {
  display: none;
}

.popup-overlay {
  display: flex;
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.popup-container {
  position: relative;
  justify-self: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  width: 80%;
  height: 80%;
  background-color: var(--light-gray-color);
  opacity: 100%;
}

.popup-content {
  display: flex;
  flex: 1 1 auto;
  height: inherit;
  flex-direction: column;
}

.popup-header {
  display: flex;
  flex: 0 1 auto;

  color: white;
  background-color: var(--tcw-blue-color);
  font-weight: bold;

  text-align: start;
  height: 64px;
  width: 100%;
  align-items: center;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  h1 {
      margin-left: 16px;
      font-size: 20px;
  }
}

.popup-button-container {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  justify-content: flex-end;
  padding: 24px;
}

.popup-button-base {
  background-color: var(--tcw-light-blue-color);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 100px;
  height: 40px;
  color: white;
  border-radius: 5px;
  &:hover {
      background-color: var(--hover-blue-color);
  }
  &:focus {
      background-color: var(--hover-blue-color);
  }
  &:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
    box-shadow: none;
  }
}

.popup-inner-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: inherit;
  margin: 16px;
  border-radius: 6px;
  border: 1px solid var(--dark-gray-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.popup-inner-header {
  font-size: 18px;
  text-align: left;
  font-weight: 550;
  padding-bottom: 4px;
  padding-left: 4px;
  border-bottom: 1px solid black;
  margin: 16px;
}

h1 {
    color: blue;
}