:root {
    --tcw-blue-color: #003e7e;
    --tcw-gray-color: #d9d9d9;
    --tcw-light-blue-color: #7b9abb;
    --tcw-hover-blue-color: #68A2B8;
    --tcw-dark-blue-color: #003265;
    --tcw-highlight-blue-color: #cfdbe7;
    --tcw-light-gray-color: #f6f7f7;
    --tcw-dark-gray-color: #7e7f82;
    background-color: var(--tcw-gray-color);
    --secondary-tcw-teal-color: #00B0AD;
}

body {
    margin: 0;
    font-family: Lato !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f0f2f5;
    color: #333;
}



.platform-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content-area {
    flex-grow: 1;
    // background-color: black;
    /* padding: 20px; */
    /* max-height: 845px; */
}


.App {
    text-align: center;
    font-family: 'Lato' !important;
    background-color: var(--light-gray-color);
    height: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

button {
  background: none;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit; 
}
