.grid {
    height: 100%;

    [class*='dx-datagrid-rowsview'] {
        height: 100%;
        overflow: auto;
    }

    [class*='dx-gridbase-container'] {
        overflow: auto;
    }

    [class*='dx-datagrid-headers'] {
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    [class*='dx-header-row'] {
        td {
            text-align: center !important;
            background-color: #22425f;
            color: white;
        }

        [class*='dx-datagrid-text-content'] {
            white-space: normal !important;
            word-break: break-word;
            line-height: 1.2;
            text-align: center;
        }
    }

    :global {
        .dx-datagrid-export-button .dx-icon-xlsxfile {
            color: var(--ant-layout-light-trigger-color);
        }
    }
}
