.wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 0;
    overflow: hidden;
}
.items {
    display: flex;
    align-items: center;
    gap: 6px;
}
.delete {
    font-size: 8px;

    height: 16px;
    max-width: 16px;
    box-shadow: none;
}
.tag {
    font-size: 9px;
    margin: 0;
    font-family: monospace;
    line-height: 16px;
}
.name {
    display: block;
    font-size: 12px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.deals {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 12px;
    cursor: pointer;
}
.uploading {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    height: 100%;
}
